:root {
  --primary-color: #7f8b75;
  --secondary-color: #c77d1c;
  --third-color: #b4aca3;
  --heading-font-family: "EB Garamond", serif;
  --default-font-family: "Roboto", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  color: white;
  font-size: 80px;
  line-height: 80%;
}

h2 {
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
}

h3 {
  font-family: var(--default-font-family);
  text-align: center;
  color: black;
}

h4 {
  font-family: var(--default-font-family);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 1000;
}

.hero {
  margin-top: 80px;
}

.portfolio,
.hero {
  padding-left: 160px;
  padding-right: 160px;
}

.portfolio {
  margin-top: 50px;
}

.hero-left {
  background-color: var(--primary-color);
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 30px;
  padding-right: 0px;
}
.hero-center {
  padding-left: 0px;
  padding-right: 0px;
}

.about-me {
  margin-top: 40px;
  padding-left: 0px;
}
.about-me img {
  padding-left: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
}
